/*
============================================================
PC用とスマホ用で共通の部分
作成 : 2016/12/21
============================================================
*/

/* ----- タイトルロゴ用のフォント ----- */
@import url(https://fonts.googleapis.com/css?family=Orbitron);

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    height: 100%;
}

/*
------------------------------------------------------------
トップページの要素
------------------------------------------------------------
*/
.top-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;
}

.top-title h1 {
    text-shadow: 1px 1px 3px #000;
    font-family: "Orbitron";
}

/*
------------------------------------------------------------
各記事の要素
------------------------------------------------------------
*/
.content > div {
    margin: 10px 0px 10px 10px;
    padding: 20px;
    text-align: left;
    background-color: #DDD;
    border-radius: 5px;
}

.wrapper {
    background-image: url(../images/tile.png);
}

.content {
    min-height: 200px;
}

.content h1 {
    font-size: 28pt;
}

.content h2 {
    font-size: 20pt;
}

.content h3 {
    font-size: 18pt;
    margin: 10px 0px;
    padding: 3px 5px;
    border-left: 8px #666 solid;
    border-bottom: 3px #666 solid;
}

.content h4 {
    margin: 20px 10px;
}

.content p {
    font-size: 12pt;
    line-height: 20pt;
    text-indent: 1em;
    margin: 10px 10px 10px 10px;
}

.content ul {
    margin-left: 20px;
}

.content ol {
    margin-left: 30px;
}

.content li {
    margin: 10px;
}

.content img {
    margin: 10px;
}

.content table th {
    padding: 0px 10px;
    font-weight: bold;
}

.content table td {
    padding: 0px 10px;
}

.content hr {
    margin: 20px 0px;
}

.date {
    display: block;
    font-size: 10pt;
    text-align: right;
    margin-top: 5px;
}

.side-menu {
    float: left;
    width: 25%;
    min-height: 200px;
    text-align: center;
}

.side-menu ul {
    list-style: none;
    margin: 10px;
    padding: 20px 0px;
    background-color: #DDD;
    border-radius: 5px;
}

.side-menu ul li {
    margin-bottom: 20px;
}

.side-menu ul li a {
    color: #333;
    font-size: 11pt;
}

.clear {
    clear: both;
}

.syntaxhighlighter {
    padding: 5px 0px;
}

.pendulum-attack-dot-list {
    margin-left: 30px;
    text-align: center;
}
.pendulum-attack-dot-list th {
    min-width: 100px;
}
.pendulum-attack-dot-list img {
    width: 16px;
}
