/*
============================================================
2016/04/23 作成
============================================================
*/
@import url(https://fonts.googleapis.com/css?family=Orbitron);

* {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: "MS PMincho";
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

/*
------------------------------------------------------------
トップページ
------------------------------------------------------------
*/
h1.top-title {
    padding-top: 200px;
    color: #EEE;
    text-shadow: 1px 1px 3px #000;
    font-size: 72pt;
    font-family: "Orbitron";
}

ul.top-menu {
    position: relative;
    list-style: none;
    margin-top: 50px;
    left: 50%;
    float: left;
}

ul.top-menu li {
    position: relative;
    left: -50%;
    float: left;
    font-size: 20pt;
    margin: 0px 20px;
}

ul.top-menu li a {
    position: relative;
    color: #EEE;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    padding: 10px 30px;
    border: 2px #EEE solid;
    border-radius: 3px;
    transition: background-color 0.2s;
}

ul.top-menu li a:hover {
    background-color: #EEE;
}

/*
------------------------------------------------------------
コンテンツ
------------------------------------------------------------
*/
.wrapper {
    width: 80%;
    min-width: 800px;
    min-height: 100%;
    margin: 0px auto;
    background-image: url(../images/tile.png);
}

.content {
    float: left;
    width: 75%;
    min-height: 200px;
}

.content div {
    margin: 10px 0px 10px 10px;
    padding: 20px;
    text-align: left;
    background-color: #DDD;
    border-radius: 5px;
}

.content h1 {
    font-size: 32pt;
}

.content h2 {
    font-size: 20pt;
}

.content h3 {
    font-size: 18pt;
    margin: 10px 0px;
    padding: 3px 5px;
    border-left: 8px #666 solid;
    border-bottom: 3px #666 solid;
}

.content p {
    font-size: 12pt;
    line-height: 20pt;
    margin: 10px 10px 30px 10px;
}

.content hr {
    margin: 20px 0px;
}

.date {
    display: block;
    font-size: 10pt;
    text-align: right;
    margin-top: 5px;
}

.side-menu {
    float: left;
    width: 25%;
    min-height: 200px;
}

.side-menu ul {
    list-style: none;
    margin: 10px;
    padding: 20px 0px;
    background-color: #DDD;
    border-radius: 5px;
}

.side-menu ul li {
    margin-bottom: 20px;
}

.side-menu ul li a {
    color: #333;
    font-size: 11pt;
}

.clear {
    clear: both;
}
