/*
============================================================
2016/04/23 作成
============================================================
*/
@import url(https://fonts.googleapis.com/css?family=Orbitron);

* {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: "MS PMincho";
}

html {
    height: 100%;
}

body {
    height: 100%;
    text-align: center;
}

@media screen and (min-device-width: 480px) {
    body {
	background-image: url(../images/background.jpg);
	background-size: 100%;
	background-attachment: fixed;
    }
    .mobile {
	display: none;
    }
}
@media screen and (max-device-width: 480px) {
    body {
	background-color: #222;
    }
}

/*
------------------------------------------------------------
トップページ
------------------------------------------------------------
*/
.top-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.top-title h1 {
    text-shadow: 1px 1px 3px #000;
    font-family: "Orbitron";
}

@media screen and (min-device-width: 480px) {
    .top-title h1 {
	color: #EEE;
	font-size: 72pt;
    }
    .top-wrapper {
	height: 250px;
    }
    ul.top-menu {
	position: relative;
	list-style: none;
	width: 610px;
	margin: 50px auto 0px auto;
    }
    ul.top-menu li {
	position: relative;
	font-size: 20pt;
	float: left;
	margin: 0px 20px;
    }
    ul.top-menu li a {
	width: 200px;
	padding: 10px 30px;
	color: #EEE;
	border: 2px #EEE solid;
	text-decoration: none;
    }
    ul.top-menu li a {
	position: relative;
	text-shadow: 1px 1px 1px #000;
	border-radius: 3px;
	transition: background-color 0.2s;
    }

    ul.top-menu li a:hover {
	background-color: #EEE;
    }
}

/* スマホ用 */
@media screen and (max-device-width: 480px) {
    .top-bar {
	width: 100%;
	height: 50px;
	border-bottom: 3px #EEE solid;
    }
    .top-img {
	width: 100%;
	border-bottom: 3px #EEE solid;
    }
    .top-title {
	padding: 50px 0px;
	width: 100%;
	border-bottom: 3px #EEE solid;
    }
    .top-title h1 {
	margin-left: 30px;
	font-size: 100pt;
	color: #DDD;
    }
    ul.top-menu {
	list-style: none;
	font-size: 48pt;
    }
    ul.top-menu li a {
	display: block;
	padding: 40px 0px;
	color: #DDD;
	text-decoration: none;
	background-color: #888;
	border-bottom: 3px #EEE solid;
    }
    p.top-caution {
	color: #DDD;
	font-size: 24pt;
    }
}

/*
------------------------------------------------------------
コンテンツ
------------------------------------------------------------
*/
/* PCサイト */
@media screen and (min-device-width: 480px) {
    .wrapper {
	width: 80%;
	min-width: 800px;
	min-height: 100%;
	margin: 0px auto;
    }

    .content {
	float: left;
	width: 75%;
    }
}

/* スマホサイト */
@media screen and (max-device-width: 480px) {
    .wrapper {
	width: 100%;
    }
    .content {
	width: 100%;
    }
    .side-menu {
	display: none;
    }
}
.content > div {
    margin: 10px 0px 10px 10px;
    padding: 20px;
    text-align: left;
    background-color: #DDD;
    border-radius: 5px;
}

.wrapper {
    background-image: url(../images/tile.png);
}

.content {
    min-height: 200px;
}

.content h1 {
    font-size: 28pt;
}

.content h2 {
    font-size: 20pt;
}

.content h3 {
    font-size: 18pt;
    margin: 10px 0px;
    padding: 3px 5px;
    border-left: 8px #666 solid;
    border-bottom: 3px #666 solid;
}

.content h4 {
    margin: 20px 10px;
}

.content p {
    font-size: 12pt;
    line-height: 20pt;
    text-indent: 1em;
    margin: 10px 10px 10px 10px;
}

.content ul {
    margin-left: 20px;
}

.content ol {
    margin-left: 30px;
}

.content li {
    margin: 10px;
}

.content img {
    margin: 10px;
}

.content table th {
    padding: 0px 10px;
    font-weight: bold;
}

.content table td {
    padding: 0px 10px;
}

.content hr {
    margin: 20px 0px;
}

.date {
    display: block;
    font-size: 10pt;
    text-align: right;
    margin-top: 5px;
}

.side-menu {
    float: left;
    width: 25%;
    min-height: 200px;
}

.side-menu ul {
    list-style: none;
    margin: 10px;
    padding: 20px 0px;
    background-color: #DDD;
    border-radius: 5px;
}

.side-menu ul li {
    margin-bottom: 20px;
}

.side-menu ul li a {
    color: #333;
    font-size: 11pt;
}

.clear {
    clear: both;
}

.syntaxhighlighter {
    padding: 5px 0px;
}
